<h1><%= @movie %> </h1>
<br>
<h3><%= @location.address %></h3>
<br>
<%= simple_form_for [@location, @scene, @visit] do |f| %>
  <%= f.input :description, label: 'Tell us something about your visit:' %>
  <br>
  <%= f.input :date_visited, label: 'Date visited', as: :date, order: [:day, :month, :year] %>
  <br>
  <%= f.button :submit %>
<% end %>
<br>
<h3>Previous uploaded scenes at this location:</h3>
<br>
<!-- Not sure if this is working properly, or if the photos are lined up correctly, until more are uploaded -->
<% count = 0 %>
<% @current_visits.each do |visit| %>
  <li><%= visit.description %> <%= visit.date_visited %></li>
  <br>
  <% if visit.photos.length > 0 %>
  <%= image_tag visit.photos[count].image.url, :size => "200x200" %>
  <% count += 1 %>
  <% end %>
<% end %>
