<div id="movie_name"><h1><%= @movie %></h1></div>
<div id='movie_img'></div>
<br>
<h3><%= @location.address %></h3>
<br>
<%= form_for [@scene, @visit] do |f| %>
  <%= f.fields_for :visit do |v| %>
    <%= v.label 'Tell us something about your visit:' %>
    <%= v.text_field :description %>
    <br><br>
    <%= v.label 'Date visited' %>
    <%= v.date_select :date_visited %>
    <br>
  <% end %>
  <br>
  <%= f.fields_for :photo, html: {multipart: true} do |builder| %>
    <%= builder.label 'Add your caption' %>
    <%= builder.text_field :caption %>
    <br><br>
    <%= builder.label 'Upload image' %>
    <%= builder.file_field :image %>
  <% end %>
  <br><br>
  <%= f.button :Submit %>
<% end %>
<div id='preview'></div>
<br>
<h3>Previous uploaded scenes at this location:</h3>
<br>
<!-- Not sure if this is working properly, or if the photos are lined up correctly, until more are uploaded -->
<% count = 0 %>
<% @current_visits.each do |visit| %>
  <li><%= visit.description %> <%= visit.date_visited %></li>
  <br>
  <% if visit.photos.length > 0 %>

  <% count += 1 %>
  <% end %>
<% end %>
