<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div class="form-group">
  <div class="row">
    <div class="col-md-4"><br>
      <center><div id="movie_name"><h3><%= @movie %></h3></div>
      <div id='movie_img'></div></center>
    </div>
    <div class="col-md-4">
      <center><h3><%= @location.address %></h3>
      <br>
      <%= form_for [@scene, @visit] do |f| %>
        <%= f.fields_for :visit do |v| %>
          <%= v.label 'Tell us something about your visit:' %>
          <br>
          <%= v.text_field :description %>
          <br><br>
          <%= v.label 'Date visited:' %>
          <br>
          <%= v.date_select :date_visited, order: [:day, :month, :year] %>
          <br>
        <% end %>
        <br>
        <%= f.fields_for :photo, html: {multipart: true} do |builder| %>
          <%= builder.label 'Add your caption...' %>
          <br>
          <%= builder.text_field :caption %>
          <br><br>
          <%= builder.label 'Upload your image:' %>
          <%= builder.file_field :image %>
        <% end %>
        <br><br>
        <%= f.button :Submit %>
      <% end %></center>
    </div>
    <div class="col-md-4">
      <div id='preview'></div>
    </div>
  </div>
</div>
