<section id="userProfile">

  <h1>User page of <%= @user.name %></h1>

  <%= image_tag @user.image, :id => 'user_img', :title => @user.name %>

  <div id="visits">
    <% if @visits.any? %>
      <ul class="visits">
        <% @visits.each do |visit| %>
          <li class="pervisit">
            <% if visit.date_visited %>
              Visited on <%= visit.date_visited.strftime('%e %B %Y') %>
              </br>
            <% end %>
            <div  class="userleft">
            Location: <%= link_to visit.scene.location.address, location_path(visit.scene.location) %></br>
            Movie: <%= link_to visit.scene.movie.name, movie_path(visit.scene.movie) %>
            Visit description: <%= visit.description %>
          </div>

          <div class="userright">
              <div class="mapBox">
                <div class="mapDestination" id="mapDestination-<%= visit.id %>">
                </div>
              </div>
          </div>
          <div class="movieposter">
            Movie poster:
            <!-- <div class="moviePosterBox">
            </div> -->

            <article>
              <div class="box">
                <h4>Scene photo:</h4>

                <figure><%= image_tag visit.scene.image_file_name %></figure>

            <% if visit.photos.any? %>
              <ul class="photos">
                User photos: <% visit.photos.each do |photo| %>
                  <li class="photo">
                    <%= image_tag photo.image_file_name %>
                    <%= photo.caption %>
                    (Likes: <%= photo.likes.count %>)
                    <% if photo.comments.any? %>
                      <ul class="comments">
                        <% photo.comments.order('created_at desc').each do |comment| %>
                          <li class="comment">
                            <%= image_tag comment.user.image %>
                            <%= link_to comment.user.name, user_path(comment.user) %>:
                            <%= comment.remark %>
                            (<%= comment.created_at.strftime('%e %B %Y at %H:%M') %>)
                          </li>
                        <% end %>

                      </ul>
                    <% end %>
                  </li>

                <% end %>
              </article>

              </ul>
            <% else %>
              No photos relating to this visit available
            <% end %>
            <div class="movieInfo">
                <div class="movieTitleYear"><%= visit.scene.movie.name %></div>
                <div class="longitude"><%= visit.scene.location.longitude %></div>
                <div class="latitude"><%= visit.scene.location.latitude %></div>
            </div><!-- movieInfo  -->    
          </li>
        <% end %>
      </ul>
    <% else %>
      No visits yet
    <% end %>
  </div>

</section>
