<section id="userProfile">

  <h2>User page of <%= @user.name %></h2>

  <img id="user_img" src="<%= @user.image %>" title="<%= @user.name %>"/>

  <div id="visits">
    <ul>
      <% @visits.each do |visit| %>
        <li>
          Date visited: <%= visit.date_visited %></br>
          Location: <%= link_to visit.scene.location.address, location_path(visit.scene.location) %></br>
          Movie: <%= link_to visit.scene.movie.name, movie_path(visit.scene.movie) %></br>
          Visit description: <%= visit.description %>
          <div class="mapBox">
            <div class="mapDestination" id="mapDestination-<%= visit.id %>">
            </div>
          </div>
          <% visit.photos.each do |photo| %>
            <%= image_tag photo.image_file_name %>
          <% end %>
          <div class="movieTitleYear"><%= visit.scene.movie.name %></div>
          <div class="longitude"><%= visit.scene.location.longitude %></div>
          <div class="latitude"><%= visit.scene.location.latitude %></div>
        </li>
        </br>
      <% end %>
    </ul>
  </div>

</section>