<script src='https://cdn.rawgit.com/Pagawa/PgwSlideshow/master/pgwslideshow.min.js'></script>
<link rel='stylesheet' href='https://cdn.rawgit.com/Pagawa/PgwSlideshow/master/pgwslideshow.min.css'>
Welcome to Movie Snaps
<br>
Click <%= link_to "here", '/locations' %> to upload your photos!
<br>
<% if @photos %>
  Most recent uploads: <br>
  <div class='slides'>
    <ul class='pgwSlideshow'>
      <% @recents.each do |p| %>
        <li><img src='<%= p.image_file_name %>' alt='<%= p.visit.scene.movie.name %>' data-description='<%= p.caption  %>'></li>
      <% end %>
    </ul>
  </div>
  All uploads: <br>
  <% @photos.each do |p| %>
    <img src='<%= p.image_file_name %>' height='200' width='200' %>
    <br>
    <%= p.caption %> <i>Uploaded on </i> <%= p.created_at %>
    <br>
    From the movie <%= p.visit.scene.movie.name %>
    <br>
    <% if current_user %>
      <% liked = false %>
      <% p.likes.each do |l| %>
        <% if current_user.id == l.user_id %>
          <% liked = true %>
          <% break %>
        <% end %>
      <% end %>
      <% if liked == false %>
        <%= link_to "Like", photo_likes_path(p), class: 'likes-link' %>
      <% end %>
    <span class='likes_count'> <%= p.likes.count %> </span> <%= 'like'.pluralize p.likes.count %>
      <button class='comment-link'>Comment</button>
      <div class='comment-form'><%= form_for [p, @comment] do |f| %>
        <%= f.text_area :remark %>
        <%= f.submit 'Submit' %>
      <% end %></div>
    <% end %>
    <% p.comments.each do |c| %>
      <li><%= c.remark %><i> <%= c.user.name %> </i></li>
      <br>
    <% end %>
    <br>
  <% end %>
<% else %>
  No photos have been uploaded!
<% end %>