<section id="welcomeFeatured" class="clearfix">
    <div class="welcomeSlider" id="welcomeSlider">
      <div id="slides">
          <article>
            <a href="#" target="_blank">
              <img src="#" style="display:none;">
              <span style="display:none;">Iron Man</span>
            </a>
          </article>
          <div class="slider-title">
            Iron Man
          </div>
          <div id="slider-arrows">
            <a href="#" id="prev-slider" class="prev"></a>
            <a href="#" id="next-slider" class="next"></a>
          </div>
      </div> <!-- slides  -->
    </div> <!-- welcomeSlider -->
</section> <!-- welcomeFeatured -->

<aside id="welcomeAside" class="clearfix">
  <header>
    <h3 class="recent-title">Click <%= link_to "here", '/locations' %>
      to upload your photos! or checkout our most recent uploads</h3>
  </header>
    <!-- <h2 class="welcomeMessage">Welcome to <span>Movie Snaps</span>, a User-friendly app built for people
        who love blah blah and more blah blah blah</h2> -->
        <h2 class="welcomeMessage">“Adventure is out there!” Up (2009)</h2>
        <h2 class="welcomeMessage">“The most beautiful thing in the world is, of course, the world itself.” Cast Away (2000)</h2>
        <h2 class="welcomeMessage">“Remember, what happens in Vegas stays in Vegas. Except for herpes. That shit’ll come back with you.” The Hangover (2009)</h2>



</aside><!-- welcomeAside  -->

<section class="welcomeMainContent clearfix">

  <% if @photos %>

          <% @photos.each do |p| %>
          <article>

            <div class="box"  title="<%= p.caption %>">

              <h4><%= p.caption %></h4>
              <figure>
                <a href="#">
                  <img src='<%= p.image_file_name %>' height='200' width='198' %>
                </a>
              </figure>





              <h6><i>Uploaded on </i> <%= p.created_at %></h6>

              <div class="likes">
                <% if current_user %>
                  <% liked = false %>
                  <% p.likes.each do |l| %>
                    <% if current_user.id == l.user_id %>
                      <% liked = true %>
                      <% break %>
                    <% end %>
                  <% end %>
                  <% if liked == false %>

                  <%= link_to "♡", photo_likes_path(p), class: 'likes-link' %>

                  <% end %>

                  <span class='likes_count'> <%= p.likes.count %> </span> <%= 'like'.pluralize p.likes.count %>

                <% end %>
              </div>


              <p>From the movie <%= p.visit.scene.movie.name %></p>



            </div>
            </article>
          <% end %>




    <% else %>
      No photos have been uploaded!
    <% end %>

</section> <!-- welcomeMainContent  -->



<aside class="viewall">
  <a href="/locations" class="button">View All Locations</a>
</aside>


<section class="welcomeMainContent clearfix">
  <header class="line">
    <h3 class="recent-title">More Movie-Snaps stuff</h3>
  </header>

          <article>

            <div class="box" href="#" title="something">
              <h4>New Users</h4>
              <figure>
                <img src='#' height='200' width='198' %>
              </figure>
              <h6><i>Uploaded on </i> </h6>

              <p>Go to page from here</p>

            </div>
            </article>
            <article>

              <div class="box" href="#" title="something">
                <h4>New Scenes</h4>
                <figure>
                  <img src='#' height='200' width='198' %>
                </figure>
                <h6><i>Uploaded on </i> </h6>

                <p>Go to page from here</p>

              </div>
              </article>
              <article>

                <div class="box" href="#" title="something">
                  <h4>New Movies</h4>
                  <figure>
                    <img src='#' height='200' width='198' %>
                  </figure>
                  <h6><i>Uploaded on </i> </h6>

                  <p>Go to page from here</p>

                </div>
                </article>
                <article>

                  <div class="box" href="#" title="something">
                    <h4>Get in touch</h4>
                    <figure>
                      <img src='#' height='200' width='198' %>
                    </figure>
                    <h6><i>Uploaded on </i> </h6>

                    <p>Go to page from here</p>

                  </div>
                  </article>


</section> <!-- welcomeMainContent  -->
