<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="dashboard clearfix">
  <h2>Dashboard of Delights</h2>
  <h3>Total Visits by Date</h3>
  <p>This graph shows how many people have visited different movie locations on different days. </p>
</div>
<%= line_chart @visits, discrete: true %>

<div class="dashboard clearfix">
  <h3>Most Popular Movies</h3>
  <p>This graph shows the 10 most popular movies on the site, showing the number of times a scenes from the movies have been visited.</p>
</div>
<%= bar_chart @scene_table_data %>

<div class="dashboard clearfix">
  <h3>Most Active Users</h3>
  <p>This diagram shows the most active users on the site.</p>
</div>
<%= pie_chart @user_table_data %>

<div class="dashboard clearfix">
  <h3>Most Popular Locations</h3>
  <p>This map shows the most visited locations by country.</p>
</div>
<%= geo_chart @location_table_data %>