<% if @locations.any? %>
  <% @locations.each do |location| %>
    <%= link_to location.name, location_path(location) %>
  <% end %>
<% else %>
  <h1>No locations yet</h1>
<% end %>
<br>
<%= link_to "Add a location", new_location_path %>
<% if current_user %>
  Welcome <%= current_user.name %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>