<!DOCTYPE html>
<html>
<head>
  <title>MovieSnaps</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
</head>
<body>
<section id="wrapper">
  <header id="topnav">
    <!-- navigation goes here  -->
    <nav id="nav">
        <ul id="navigation">
          <li><a href="#"><span class="subtitle">Get in touch</span>
            <br/>
            Contact</a></li>
          <li><a href="#"><span class="subtitle">New Users</span>
            <br/>
            Users</a></li>
          <li><a href="#"><span class="subtitle">More Locations</span>
            <br/>
            Locations</a></li>
          <li><a href="#"><span class="subtitle">Start</span>
            <br/>
            Home</a></li>
        </ul>
    </nav>
  </header>
  <% if current_user %>
    Welcome <%= current_user.name %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <% end %>



<%= yield %>
</section>
</body>
</html>
